.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg {
  background-image: url(./Assets/Images/img2.jpg);
  /* width: 1423px;
  height: 800px;
  background-size: cover; */
}
.ag{
  background-image: url(./Assets/Images/img5.jpg);
  
}

.cg{
  background-image: url(./Assets/Images/img5.jpg);
}

/* .myfooter {
  background: linear-gradient(to bottom, rgb(58, 34, 194), rgb(66, 13, 13));
} */




